.header {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    height: 18vh;
    z-index: 10;
}

.flex-container {
    display:inline-flex;
    justify-content: center;    
}

.header img {
    height: 8vh;
   
}

.header figcaption {
    font-size: 30px;
} 

.header a {
    text-decoration: none;
    color: black;
}

