.main {
    background-color: rgb(110, 64, 7);
    
}
.gridimg {
    height: 70vh;
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-items: auto;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover p {
    position: absolute;
    align-self: center;
    z-index: 10;
    font-size: 15vh;
}

.imgcover {
    height: 70vh;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}

.imgcover:hover{
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform:scale(1.02);
}

.catalog {
    background-color: blueviolet;
    height: 90vh;
}
